@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(+2px);
  }
  50% {
    transform: translateY(+3px);
  }

  75% {
    transform: translateY(+2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.technologies {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  animation: 2s ease-in-out upDown infinite;

  justify-content: center;
  gap: 4rem;
}

.technologies:hover {
  animation-play-state: paused;
}

.stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack-link {
  text-decoration: none;
}

.stack-container:hover {
  transform: scale(1.25);
}

.tech-icon {
  height: 100px;
  width: fit-content;
}

@media (min-width: 901px) and (max-width: 1100px) {
  .tech-icon {
    height: 75px;
  }
}

@media (min-width: 549px) and (max-width: 900px) {
  .technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tech-icon {
    height: 50px;
  }
}

@media (max-width: 548px) {
  .technologies {
    display: none;
  }
}
