/* This is for IntroHeader */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem;
}

.pitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 5%;
}

.fronter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.name {
  display: inline-block;
}

.normal {
  color: #e0cfb5 !important;
}

.text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.intro {
  animation: typing 1s steps(20), cursor 0.4s step-end infinite alternate;
}

.occupation {
  animation: typing 1s steps(14) forwards,
    cursor 0.4s step-end infinite alternate;
  animation-delay: 1s;
  width: 0;
}

.occupation-2 {
  animation: typing 1s steps(13) forwards,
    cursor 0.4s step-end infinite alternate;
  animation-delay: 2s; /* Delay the typing animation */
  width: 0; /* Start at 0 width */
}

.info-container {
  display: flex;
  gap: 1rem;
}

.btn {
  height: 50px;
  width: 50px;
}

/* Picture */

.intro-image {
  height: 350px;
  border-radius: 50%;
}
