.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  border-top: 1px solid white;
  padding: 2rem;
  width: 100%;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  color: #b5c6e0 !important;
  font-size: large;
}

.nav-item:hover {
  color: #e0cfb5 !important;
  cursor: pointer;
}

@media (max-width: 880px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-list {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 880px) {
  .nav-list {
    display: none;
  }
}

@media (max-width: 499px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
}
